@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap");
nav {
  background: #181717;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}
nav .menu {
  display: none;
}
nav .logo {
  width: 300px;
  display: flex;
  align-items: center;
  margin-left: 70px;
}
nav .logo h1 {
  font-size: 30px;
}
nav .logo h1 span {
  color: #DB3E34;
}
nav ul {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 70px;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
nav ul li a:hover {
  color: #DB3E34;
  border-bottom: 4px solid #DB3E34;
}

header {
  height: 750px;
  background: linear-gradient(155deg, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.644)), url(../image/band1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}
header .contact-box {
  position: absolute;
  border-top: 10px solid rgba(83, 80, 80, 0.493);
  border-bottom: 10px solid rgba(83, 80, 80, 0.493);
  margin-left: 50%;
  margin-top: 30px;
}
header .contact-box h3 {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}
header .title {
  width: 600px;
  padding-left: 100px;
  margin-top: 170px;
  margin-right: 70px;
}
header .title h1 {
  font-size: 60px;
  font-weight: bolder;
}
header .title span {
  font-size: 40px;
  font-weight: bolder;
  color: white;
  margin-top: -10px;
}
header .title p {
  width: 500px;
}
header .title h1,
header .title h3,
header .title p {
  color: white;
}
header .title #button {
  margin-top: 25px;
  width: 170px;
  height: 35px;
  background: #DB3E34;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  border: 3px solid #DB3E34;
}
header .title #button a {
  text-decoration: none;
  color: white;
}
header .pic > img {
  width: 540px;
  margin-top: 170px;
  margin-left: 70px;
  box-shadow: 26px 26px rgba(128, 126, 126, 0.541);
}

footer {
  height: 500px;
  padding: 100px 70px;
  background: #181717;
  color: white;
  display: flex;
  justify-content: space-between;
}
footer .suffer-footer {
  width: 300px;
  display: flex;
  flex-direction: column;
}
footer .suffer-footer .logo-footer {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
footer .suffer-footer .logo-footer img {
  width: 70px;
}
footer .suffer-footer .logo-footer h3 {
  font-size: 30px;
}
footer .suffer-footer .logo-footer h3 span {
  color: #DB3E34;
}
footer .suffer-footer .text-footer {
  margin-bottom: 20px;
}
footer .suffer-footer .contact-footer .number-phone {
  display: flex;
  margin-bottom: 10px;
}
footer .suffer-footer .contact-footer .number-phone i {
  font-size: 30px;
  margin-right: 10px;
}
footer .suffer-footer .contact-footer .email {
  display: flex;
}
footer .suffer-footer .contact-footer .email i {
  font-size: 30px;
  margin-right: 10px;
}
footer .about-footer {
  width: 180px;
  display: flex;
  flex-direction: column;
}
footer .about-footer h3 {
  margin-top: 10px;
  font-size: 30px;
  text-decoration: underline;
}
footer .about-footer ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
footer .about-footer ul li {
  font-size: 20px;
  font-weight: bolder;
  padding-top: 30px;
  list-style-type: circle;
  margin-left: 20px;
}
footer .our-social {
  width: 300px;
}
footer .our-social h3 {
  margin-top: 10px;
  font-size: 30px;
  text-decoration: underline;
}
footer .our-social .our {
  display: flex;
  flex-direction: column;
  height: 70%;
}
footer .our-social .our h5 {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
footer .our-social .our h5 i {
  margin-right: 20px;
  font-size: 30px;
}
footer .our-social .our h5 a {
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
footer .our-social .our h5:hover {
  color: blue;
}
footer .copyright {
  position: absolute;
  margin: 540px 0px 0px 400px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Saira", sans-serif;
}

.container {
  width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 20px;
}

.title2 {
  width: 50%;
  color: white;
  margin-top: 70px;
}
.title2 .box {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.title2 .box .number-phone {
  display: flex;
  margin-bottom: 10px;
}
.title2 .box .number-phone i {
  font-size: 30px;
  margin-right: 10px;
}
.title2 .box .email {
  display: flex;
}
.title2 .box .email i {
  font-size: 30px;
  margin-right: 10px;
}
.title2 p {
  width: 350px;
}
.title2 h1 {
  font-size: 60px;
  margin-bottom: 30px;
}

.contain-header {
  height: 750px;
  background: linear-gradient(155deg, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.644)), url(../image/band1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
}
.contain-header #create {
  background: rgba(48, 47, 47, 0.514);
  width: 40%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 90px;
  border-radius: 20px;
}
.contain-header #create h1 {
  font-size: 33px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
  font-weight: bolder;
  border-bottom: 2px solid white;
}
.contain-header #create .icon-create > img {
  width: 40px;
  margin-top: 20px;
  margin-left: 13px;
  margin-right: 13px;
}
.contain-header #create .name {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.contain-header #create input[type=text] {
  padding: 9px;
  width: 40%;
  background: rgba(206, 206, 206, 0.664);
}
.contain-header #create input[type=email],
.contain-header #create input[type=password],
.contain-header #create input[type=submit] {
  width: 87%;
  padding: 9px;
  background: rgba(206, 206, 206, 0.664);
}
.contain-header #create input[type=submit] {
  background: #DB3E34;
  color: white;
  border: 4px solid #DB3E34;
  border-radius: 13px;
  font-size: 16px;
  font-weight: bolder;
}
.contain-header #create input[type=submit]:hover {
  background: none;
  color: #DB3E34;
  font-weight: bolder;
}
.contain-header #create textarea {
  width: 90%;
  height: 75px;
  background: rgba(206, 206, 206, 0.664);
}
.contain-header #create textarea,
.contain-header #create input[type=email],
.contain-header #create [type=password],
.contain-header #create input[type=text] {
  outline: none;
  border: none;
  border-radius: 13px;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
  p {
    font-size: 18px;
  }
  nav .logo {
    margin-left: 40px;
  }
  nav ul {
    margin-right: 40px;
    width: 400px;
  }
  header {
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  header .pic > img {
    width: 450px;
    margin-top: 10px;
    margin-right: 110px;
    margin-bottom: 100px;
  }
  header .title {
    margin-top: 100px;
    width: 400px;
  }
  header .title span {
    text-align: center;
    margin-left: 120px;
  }
  header .title h1,
  header .title p {
    text-align: center;
    align-items: center;
    margin-right: 40px;
  }
  header .title p {
    width: 90%;
  }
  header .title button {
    margin-left: 100px;
    width: 400px;
    margin-bottom: 40px;
  }
  header .contact-box {
    position: absolute;
    top: 120px;
    margin: auto;
  }
  .contain-header {
    flex-direction: column;
    height: auto;
  }
  .contain-header .title2 {
    width: 90%;
    align-self: center;
  }
  .contain-header #create {
    width: 500px;
    align-self: center;
    margin-bottom: 100px;
    padding-bottom: 20px;
  }
  .contain-header .T2 {
    align-items: center;
    text-align: center;
  }
  .contain-header .T2 p {
    margin-left: 200px;
  }
  .contain-header .box {
    align-items: center;
    background: rgba(109, 106, 106, 0.5960784314);
    width: 400px;
    margin-left: 160px;
  }
}
footer {
  flex-wrap: wrap;
  height: auto;
  padding-bottom: 200px;
}
footer .suffer-footer {
  width: 100%;
  align-items: center;
}
footer .suffer-footer .contact-footer {
  display: none;
}
footer .suffer-footer .text-footer {
  text-align: center;
}
footer .suffer-footer .logo-footer img {
  width: 50px;
}
footer .suffer-footer .logo-footer h3 {
  font-size: 27px;
}
footer .about-footer {
  width: 30%;
  margin-left: 15%;
  margin-top: 100px;
}
footer .about-footer h3 {
  font-size: 27px;
}
footer .about-footer ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
footer .about-footer ul li {
  font-size: 18px;
}
footer .our-social {
  width: 40%;
  margin-top: 100px;
}
footer .our-social h3 {
  font-size: 27px;
}
footer .our-social .our {
  display: flex;
  flex-direction: column;
  height: auto;
}
footer .our-social .our h5 {
  margin-top: 20px;
}
footer .our-social .our h5 i {
  margin-right: 20px;
  font-size: 23px;
}
footer .our-social .our h5 a {
  font-weight: 300;
  font-size: 19px;
}
footer .copyright {
  margin-top: 650px;
  margin-left: 200px;
}/*# sourceMappingURL=contact-us.css.map */