@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap");
nav {
  background: #181717;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}
@media screen and (max-width: 600px) {
  nav {
    height: 60px;
  }
}
nav .menu {
  display: none;
}
@media screen and (max-width: 600px) {
  nav .menu {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  nav .menu i {
    font-size: 50px;
  }
}
nav #menu_check:checked ~ ul {
  left: 0;
  transition: 0.5s;
}
nav .menu:hover {
  color: #DB3E34;
}
nav .logo {
  width: 300px;
  display: flex;
  align-items: center;
  margin-left: 70px;
}
@media screen and (max-width: 1024px) {
  nav .logo {
    margin-left: 40px;
  }
}
@media screen and (max-width: 600px) {
  nav .logo {
    margin-left: 20px;
  }
}
nav .logo h1 {
  font-size: 30px;
}
@media screen and (max-width: 600px) {
  nav .logo h1 {
    display: none;
  }
}
nav .logo h1 span {
  color: #DB3E34;
}
nav ul {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 70px;
}
@media screen and (max-width: 1024px) {
  nav ul {
    margin-right: 40px;
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  nav ul {
    position: absolute;
    transition: 0.5s;
    left: -100%;
    top: 60px;
    background: #181717;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
nav ul li {
  list-style-type: none;
}
@media screen and (max-width: 600px) {
  nav ul li {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
nav ul li a:hover {
  color: #DB3E34;
  border-bottom: 4px solid #DB3E34;
}

header {
  height: 750px;
  background: linear-gradient(155deg, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.644)), url(../image/band1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  header {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
header .contact-box {
  position: absolute;
  border-top: 10px solid rgba(83, 80, 80, 0.493);
  border-bottom: 10px solid rgba(83, 80, 80, 0.493);
  margin-left: 50%;
  margin-top: 30px;
}
@media screen and (max-width: 1024px) {
  header .contact-box {
    position: absolute;
    top: 120px;
    margin: auto;
  }
}
header .contact-box h3 {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}
header .title {
  width: 600px;
  padding-left: 100px;
  margin-top: 170px;
  margin-right: 70px;
}
@media screen and (max-width: 1024px) {
  header .title {
    margin-top: 150px;
    margin-left: 40px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  header .title {
    align-items: center;
    width: 90%;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
}
header .title h1 {
  font-size: 60px;
  font-weight: bolder;
}
@media screen and (max-width: 600px) {
  header .title h1 {
    font-size: 40px;
  }
}
header .title span {
  font-size: 40px;
  font-weight: bolder;
  color: white;
  margin-top: -10px;
}
@media screen and (max-width: 1024px) {
  header .title span {
    text-align: center;
    margin-left: 0;
  }
}
header .title p {
  color: white;
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  header .title p {
    font-size: 17px;
    text-align: center;
  }
}
header .title h1,
header .title h3 {
  color: white;
}
@media screen and (max-width: 1024px) {
  header .title h1,
  header .title h3 {
    text-align: center;
    align-items: center;
    margin-right: 0;
  }
}
header .title #button {
  margin-top: 25px;
  width: 170px;
  height: 35px;
  background: #DB3E34;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  border: 3px solid #DB3E34;
}
@media screen and (max-width: 1024px) {
  header .title #button {
    margin-left: 0;
    width: 230px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1024px) {
  header .title #button {
    width: 150px;
    font-size: 15px;
  }
}
header .title #button a {
  text-decoration: none;
  color: white;
}
header .pic {
  display: flex;
  justify-content: center;
}
header .pic img {
  width: 100%;
  height: 50%;
  margin-top: 170px;
  margin-left: 70px;
  box-shadow: 26px 26px rgba(128, 126, 126, 0.541);
}
@media screen and (max-width: 1024px) {
  header .pic img {
    width: 75%;
    align-self: center;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 100px;
    margin-top: 40px;
  }
}

footer {
  height: 500px;
  padding: 100px 70px;
  background: #181717;
  color: white;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  footer {
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 200px;
  }
}
@media screen and (max-width: 600px) {
  footer {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}
footer .suffer-footer {
  width: 300px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  footer .suffer-footer {
    width: 100%;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  footer .suffer-footer {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    width: 90%;
    justify-content: center;
  }
}
footer .suffer-footer .logo-footer {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
@media screen and (max-width: 600px) {
  footer .suffer-footer .logo-footer {
    justify-content: center;
    width: 90%;
  }
}
footer .suffer-footer .logo-footer img {
  width: 70px;
}
@media screen and (max-width: 1024px) {
  footer .suffer-footer .logo-footer img {
    width: 50px;
  }
}
footer .suffer-footer .logo-footer h3 {
  font-size: 30px;
}
@media screen and (max-width: 1024px) {
  footer .suffer-footer .logo-footer h3 {
    font-size: 27px;
  }
}
footer .suffer-footer .logo-footer h3 span {
  color: #DB3E34;
}
footer .suffer-footer .text-footer {
  margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  footer .suffer-footer .text-footer {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  footer .suffer-footer .text-footer {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) {
  footer .suffer-footer .contact-footer {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  footer .suffer-footer .contact-footer {
    margin: 0;
    padding: 0;
  }
}
footer .suffer-footer .contact-footer .number-phone {
  display: flex;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  footer .suffer-footer .contact-footer .number-phone {
    display: flex;
    margin-bottom: 10px;
  }
}
footer .suffer-footer .contact-footer .number-phone i {
  font-size: 30px;
  margin-right: 10px;
}
footer .suffer-footer .contact-footer .email {
  display: flex;
}
footer .suffer-footer .contact-footer .email i {
  font-size: 30px;
  margin-right: 10px;
}
footer .about-footer {
  width: 180px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  footer .about-footer {
    width: 30%;
    margin-left: 15%;
    margin-top: 100px;
  }
}
@media screen and (max-width: 600px) {
  footer .about-footer {
    width: 90%;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    align-items: center;
  }
}
footer .about-footer h3 {
  margin-top: 10px;
  font-size: 30px;
  text-decoration: underline;
}
@media screen and (max-width: 1024px) {
  footer .about-footer h3 {
    font-size: 27px;
  }
}
footer .about-footer ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media screen and (max-width: 1024px) {
  footer .about-footer ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
@media screen and (max-width: 600px) {
  footer .about-footer ul {
    width: 90%;
    align-items: center;
  }
}
footer .about-footer ul li {
  font-size: 20px;
  font-weight: bolder;
  padding-top: 30px;
  list-style-type: circle;
  margin-left: 20px;
}
@media screen and (max-width: 1024px) {
  footer .about-footer ul li {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  footer .about-footer ul li {
    font-size: 20px;
    font-weight: bolder;
    list-style-type: none;
    margin-left: 0;
  }
}
footer .our-social {
  width: 300px;
}
@media screen and (max-width: 1024px) {
  footer .our-social {
    width: 40%;
    margin-top: 100px;
  }
}
@media screen and (max-width: 600px) {
  footer .our-social {
    width: 90%;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}
footer .our-social h3 {
  margin-top: 10px;
  font-size: 30px;
  text-decoration: underline;
}
@media screen and (max-width: 1024px) {
  footer .our-social h3 {
    font-size: 27px;
  }
}
footer .our-social .our {
  display: flex;
  flex-direction: column;
  height: 70%;
}
@media screen and (max-width: 1024px) {
  footer .our-social .our {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  footer .our-social .our {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    margin-bottom: 50px;
    padding: 0;
  }
}
footer .our-social .our h5 {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  footer .our-social .our h5 {
    margin-top: 20px;
  }
}
footer .our-social .our h5 i {
  margin-right: 20px;
  font-size: 30px;
}
@media screen and (max-width: 1024px) {
  footer .our-social .our h5 i {
    margin-right: 20px;
    font-size: 23px;
  }
}
@media screen and (max-width: 600px) {
  footer .our-social .our h5 i {
    font-size: 40px;
  }
}
footer .our-social .our h5 a {
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 1024px) {
  footer .our-social .our h5 a {
    font-size: 19px;
  }
}
@media screen and (max-width: 600px) {
  footer .our-social .our h5 a {
    display: none;
  }
}
footer .our-social .our h5:hover {
  color: blue;
}
footer .copyright {
  position: absolute;
  margin: 540px 0px 0px 400px;
}
@media screen and (max-width: 1024px) {
  footer .copyright {
    margin-top: 650px;
    margin-left: 200px;
  }
}
@media screen and (max-width: 600px) {
  footer .copyright {
    margin: 0;
    margin-top: 740px;
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: "Saira", sans-serif;
}

.container {
  width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 20px;
}

.contain-header {
  height: 750px;
  background: linear-gradient(155deg, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.644)), url(../image/band1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
}
@media screen and (max-width: 1024px) {
  .contain-header {
    flex-direction: column;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  .contain-header {
    padding: 0;
  }
}
.contain-header .title2 {
  width: 50%;
  color: white;
  margin-top: 70px;
}
@media screen and (max-width: 1024px) {
  .contain-header .title2 {
    width: 70%;
    align-self: center;
  }
}
@media screen and (max-width: 600px) {
  .contain-header .title2 {
    width: 90%;
  }
}
.contain-header .title2 .box {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.contain-header .title2 .box .number-phone {
  display: flex;
  margin-bottom: 10px;
}
.contain-header .title2 .box .number-phone i {
  font-size: 30px;
  margin-right: 10px;
}
.contain-header .title2 .box .email {
  display: flex;
}
.contain-header .title2 .box .email i {
  font-size: 30px;
  margin-right: 10px;
}
.contain-header .title2 p {
  width: 350px;
}
.contain-header .title2 h1 {
  font-size: 60px;
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .contain-header .title2 h1 {
    font-size: 40px;
    text-align: center;
  }
}
.contain-header #create {
  background: rgba(48, 47, 47, 0.514);
  width: 40%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 90px;
  border-radius: 20px;
}
@media screen and (max-width: 1024px) {
  .contain-header #create {
    width: 70%;
    height: 600px;
    align-self: center;
    margin-bottom: 120px;
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 600px) {
  .contain-header #create {
    width: 90%;
  }
}
.contain-header #create h1 {
  font-size: 33px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
  font-weight: bolder;
  border-bottom: 2px solid white;
}
.contain-header #create .icon-create > img {
  width: 40px;
  margin-top: 20px;
  margin-left: 13px;
  margin-right: 13px;
}
.contain-header #create .name {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .contain-header #create .name {
    flex-direction: column;
  }
}
.contain-header #create input[type=text] {
  padding: 9px;
  width: 40%;
  background: rgba(206, 206, 206, 0.664);
}
@media screen and (max-width: 600px) {
  .contain-header #create input[type=text] {
    width: 97%;
  }
}
.contain-header #create input[type=email],
.contain-header #create input[type=password],
.contain-header #create input[type=submit] {
  width: 87%;
  padding: 9px;
  background: rgba(206, 206, 206, 0.664);
}
.contain-header #create input[type=submit] {
  background: #DB3E34;
  color: white;
  border: 4px solid #DB3E34;
  border-radius: 13px;
  font-size: 16px;
  font-weight: bolder;
}
.contain-header #create input[type=submit]:hover {
  background: none;
  color: #DB3E34;
  font-weight: bolder;
}
.contain-header #create textarea {
  width: 90%;
  height: 75px;
  background: rgba(206, 206, 206, 0.664);
}
.contain-header #create textarea,
.contain-header #create input[type=email],
.contain-header #create [type=password],
.contain-header #create input[type=text] {
  outline: none;
  border: none;
  border-radius: 13px;
  margin-bottom: 10px;
}/*# sourceMappingURL=contact-us.css.map */