



@media (max-width: 600px) {
    nav {
        .logo {
            margin-left: 20px;
        }

        ul {
            position: absolute;
            transition: 0.5s;
            left: -100%;
            top: 70px;
            background: $navbar-color;
            @include df-fd;
            width: 100%;

            li {
                margin: {
                    top: 30px;
                    bottom: 30px;
                }
            }
        }

        #menu_check:checked~ul {
            left: 0;
            transition: 0.4s;
        }

        .menu {
            display: block;
            @include df-jcc-aic;
            margin-right: 20px;

            i {
                font-size: 50px;
            }
        }

        .menu:hover {
            color: $main-color;
        }
    }

    //----header---//

    header {
        width: 100%;
        padding: 0;
        .header-img-about{
            img{
                display: none;
            }

            .bg-img-header{
                display: none
            }
        }
        .content-header{
            display: flex;
            // justify-content: center;
            margin-top: 100px;
            background: none;

            
            h1{
               text-decoration: underline;
               margin-right: 570px;
               font-size: 40px;
               margin-left: 30px;
               
            }
            p{
                width: 500px;
                margin-left: -150px;
                align-items: self-start;
                font-size: 17px;
            }
        }
    }

    //---history---//

    .history-content{
        height: 50vh;
        display: flex;
        justify-content: center;
        h2{
            font-size: 30px;
            margin-top: 10px;
          
        }
        .history{
            width: 400px;
            display: flex;
            justify-content: center;
        p{
            width: 380px;
            font-size: 13px;
            margin-left: -180px;
            
        }
    }
        
    }

    //-----team-picture------//

    .team-picture{
        width: 100%;
        height: auto;
        h2{
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 30px;

        }
        .img-team{
            height: 250vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5px;
            margin-left: 0;
        }
        .picture {
            border-radius: 10px;
        }
    }

    //-----team-member-----//

    .team-member {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        h2{
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .card-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 180vh;
            .card{
                width: 50%;
                border-radius: 25px;
                .pl{
                    border: 2px solid $main-color;
                }
                
            }
            
        }
    }

    //------viewer------//
    .about-viewer{
        width: 100%;
        height: 35vh;
        .view h1{
            font-size: 30px;
            margin: 30px;
            margin-bottom: 0;
            margin-top: 60px;
            
            p{
                text-align: center;
                font-weight: bolder;
                font-size: 20px;
            }
        }

    }
    //-----footer-----//

    footer {
        display: grid;
        grid-template-rows: 1fr 2fr 3fr;
        justify-items: center;
        .about-footer, .our-social {
            width: 70%;
            text-align: center;
        }
        .about-footer {
            margin-left: 0;
        }
        .copyright {
            margin-top: 1100px;
            margin-left: 20px;
        }
    }


}