


@media (max-width: 1024px) {
    .container {
        width: 100%;
        overflow-x: hidden;
    }

    p {
        font-size: 18px;
    }

    // ---nav---/
    nav {
        .logo {
            margin-left: 40px;
        }

        ul {
            margin-right: 40px;
            width: 400px;
        }
    }

    // ------header----/
    header {
        padding: 80px 40px;
        .header-img-about{
            width: 400px;
            height: auto;
            img{
                width: 360px;
                margin: {
                    right: 30px;
                    top: 25px;
                }
            }
            .bg-img-header{
                width: 300px;
                height: 210px;
                border: 12px solid $main-color;
            }
        }
        .content-header{
            padding: 10px;
            width: 400px;
            height: 370px;
            h1{
                font: {
                    size: 40px;
                }
                margin-bottom: 20px;
            }
            p{
                font-size: 17px;
                margin: 0px 30px;
            }
        }
    }

    //------team-picture----//
    
    .team-picture {
        height: 700px;

        h2 {
            margin-top: 40px;
            font: {
                size: 33px;
            }
        }

        .img-team {
            height: 800px;
            margin: 20px 90px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 28px;
            justify-items: center;
            margin-top: 40px;

            .picture {
                width: 80%;
                height: 90%;
                border-radius: 13px;
                align-self: center;
                margin-bottom: 50px;
                
            }
        }
    }
    //-------team-member----//
    
    .team-member {
        padding-top: 20px;
        height: 550px;

        h2 {
            color: $main-color;

            font: {
                size: 28px;
            }
        }

        .card-content {
            height: 400px;
            margin: 30px 70px;

            .card {
                width: 28%;
                height: 325px;
                border-radius: 17px;
                padding: 20px 10px;

                h3 {
                    margin-top: 15px;

                    font: {
                        size: 20px;
                    }
                }

                p {
                    margin: 17px;
                    font-size: 17px;
                }

                .pl {
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                }
            }
        }

    }
    //------viewere-----//
    .about-viewer{
        height: 270px;
        .view h1{
            font-size: 40px;
            margin: 10px 100px;
            margin-top: 85px;
            p{
                font-size: 33px;
            }
        }
    
    }

    // -----footer-----/

    footer {
        flex-wrap: wrap;
        height: auto;
        padding-bottom: 200px;
        .suffer-footer {
            width: 100%;
            align-items: center;
            .contact-footer {
                display: none;
            }
            .text-footer {
                text-align: center;
            }
            .logo-footer {
                img {
                    width: 50px;
                }
                h3 {
                    font-size: 27px;
                }
            }
        }
        .about-footer {
            width: 30%;
            margin-left: 15%;
            margin-top: 100px;
    
            h3 {
                font-size: 27px;
            }
    
            ul {
                width: 100%;
                @include df-fd;
                align-items: start;
    
                li {
                    font-size: 18px;
                }
            }
        }
        .our-social {
            width: 40%;
            margin-top: 100px;
    
            h3 {
                font-size: 27px;
            }
    
            .our {
                @include df-fd;
                height: auto;
    
                h5 {
                    margin-top: 20px;
    
                    i {
                        margin-right: 20px;
                        font-size: 23px;
                    }
    
                    a {
                        font: {
                            weight: 300;
                            size: 19px;
                        }
                    }
                }
            }
        }
        .copyright {
            margin-top: 650px;
            margin-left: 200px;
        }
    
    }
}




    


