@import '../variable';
@import '../group-mixins';



header {
    height: 750px;
    background: linear-gradient(155deg, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.644)), url(../image/band1.jpg);
    @include bg-img;
    @include df-jcsb;

    .contact-box {
        position: absolute;

        border: {
            top: 10px solid rgba(83, 80, 80, 0.493);
            bottom: 10px solid rgba(83, 80, 80, 0.493);
        }

        margin: {
            left: 50%;
            top: 30px;
        }

        h3 {
            color: $white;

            font: {
                size: 20px;
                weight: bolder;
            }
        }

    }

    .title {
        width: 600px;
        padding-left: 100px;

        margin: {
            top: 170px;
            right: 70px;
        }

        h1 {
            font: {
                size: 60px;
                weight: bolder;
            }

        }

        span {
            font: {
                size: 40px;
                weight: bolder;
            }

            color: $white;
            margin-top: -10px;
        }

        p {
            width: 500px;
        }

        h1,
        h3,
        p {
            color: $white;
        }

        #button {
            margin-top: 25px;
            @include button;

            a {
                text-decoration: none;
                color: $white;
            }
        }
    }

    .pic>img {
        width: 540px;

        margin: {
            top: 170px;
            left: 70px;
        }

        box-shadow: 26px 26px rgba(128, 126, 126, 0.541);
    }
}