


footer {
    background: #474545;
    height: 600px;
    display: flex;
    padding: 90px;
}

footer {
    padding: 100px 70px;
    background: black;
    height: 500px;
    color: white;
    display: flex;
    justify-content: space-between;
    
    .suffer-footer {
        width: 300px;
        display: flex;
        flex-direction: column;

        .logo-footer {
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            img {
                width: 70px;
            }
            h3 {
                font-size: 30px;
                span {
                    color: red;
                }
            }
            
        }
        .text-footer {
            margin-bottom: 20px;
        }

        .contact-footer {
            .number-phone {
                display: flex;
                margin-bottom: 10px;
                i {
                    font-size: 30px;
                    margin-right: 10px;
                }
            }
            .email {
                display: flex;
                i {
                    font-size: 30px;
                    margin-right: 10px;
                }
            }
        }
    }

    .about-footer {
        width: 180px;
        display: flex;
        flex-direction: column;
        h3 {
            margin-top: 10px;
            font-size: 30px;
            text-decoration: underline;
        }
        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            li {
                font-size: 20px;
                padding-top: 30px;
                font-weight: bolder;
                list-style-type: circle;
                margin-left: 20px;
            }
        }
    }

    .our-social {
        width: 300px;
        h3 {
            margin-top: 10px;
            font-size: 30px;
            text-decoration: underline;
        }

        .our {
            display: flex;
            flex-direction: column;
            height: 70%;
            h5 {
                margin-top: 30px;
                display: flex;
                align-items: center;
                i {
                    margin-right: 20px;
                    font-size: 30px;
                }
                a {
                    font-weight: 300;
                    font-size: 20px;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .copyright {
        position: absolute;
        margin-top: 540px;
        margin-left: 450px;
    }


}