@import './group-mixins';
@import './variable';



footer {
    height: 500px;
    padding: 100px 70px;
    background: $navbar-color;
    color: $white;
    @include df-jcsb;

    .suffer-footer {
        width: 300px;
        @include df-fd;

        .logo-footer {
            @include df-aic;
            padding-bottom: 20px;

            img {
                width: 70px;
            }

            h3 {
                font-size: 30px;

                span {
                    color: $main-color;
                }
            }

        }

        .text-footer {
            margin-bottom: 20px;
        }

        .contact-footer {
            .number-phone {
                display: flex;
                margin-bottom: 10px;

                i {
                    font-size: 30px;
                    margin-right: 10px;
                }
            }

            .email {
                display: flex;

                i {
                    font-size: 30px;
                    margin-right: 10px;
                }
            }
        }
    }

    .about-footer {
        width: 180px;
        @include df-fd;

        h3 {
            margin-top: 10px;
            font-size: 30px;
            text-decoration: underline;
        }

        ul {
            width: 100%;
            @include df-fd;
            align-items: start;

            li {
                font: {
                    size: 20px;
                    weight: bolder;
                }

                padding-top: 30px;
                list-style-type: circle;
                margin-left: 20px;
            }
        }
    }

    .our-social {
        width: 300px;

        h3 {
            margin-top: 10px;
            font-size: 30px;
            text-decoration: underline;
        }

        .our {
            @include df-fd;
            height: 70%;

            h5 {
                margin-top: 30px;
                @include df-aic;

                i {
                    margin-right: 20px;
                    font-size: 30px;
                }

                a {
                    font: {
                        weight: 300;
                        size: 20px;
                    }

                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }

    .copyright {
        position: absolute;
        margin: 540px 0px 0px 400px;
    }


}