
@import './group-mixins';
@import './variable';

header {
    @include responsive ('tablet') {
        width: 100%;
        height: auto;
    }
    display: flex;
    height: 540px;
    @include bg-img;
    background-image: url(../image/photo_2023-09-24_11-29-11.jpg);
    color: $white;
    
}

.title {
    @include responsive('tablet') {
        width: 500px;
        height: auto;
        margin-bottom: 100px;
        margin-left: 40px;
        padding: 10px 10px;
    }

    @include responsive ('Mobile') {
        width: 100%;
        height: 80%;
        margin: 40px 50px 70px 20px;
        h1 {
            font-size: 33px;
        }
    }
    background: $background-text;
    width: 700px;
    height: 200px;
    margin: {
        left: 70px;
        top: 90px;
    }
    padding: 20px 10px;
    h1 {
        @include responsive ('tablet') {
            font-size: 45px;
        }
        @include main-title;
        margin-bottom: 30px;
    }
}