
@import './group-mixins';
@import './variable';

header {
    display: flex;
    height: 540px;
    @include bg-img;
    background-image: url(../image/photo_2023-09-24_11-29-11.jpg);
    color: $white;
    
}

.title {
    background: $background-text;
    width: 700px;
    height: 200px;
    margin: {
        left: 70px;
        top: 90px;
    }
    padding: 20px 10px;
    h1 {
        @include main-title;
        margin-bottom: 30px;
    }
}