@import './group-mixins';
@import './variable';


nav {
    background: $navbar-color;
    height: 70px;
    width: 100%;
    @include df-jcsb;
    color: $white;
    position: sticky;
    top: 0;
    z-index: 100;
    .menu {
        display: none;
    }
    .logo {
        width: 300px;
        @include df-aic;
        margin-left: 70px;
        h1 {
            font-size: 30px;
            span {
                color: #DB3E34;
            }
        }
    }
    ul {
        width: 500px;
        @include df-aic;
        justify-content: space-between;
        margin-right: 70px;
        li {
            list-style-type: none;
            a {
                text-decoration: none;
                font: {
                    size: 20px;
                    weight: bold;
                }
                color: $white;
                
            }
            a:hover {
                color: $main-color;
                border-bottom: 4px solid $main-color;
            }
        }
    }
}



