@import './group-mixins';
@import './variable';
@import './MIxins/responsive';


nav {
    background: $navbar-color;
    height: 70px;
    width: 100%;
    @include df-jcsb;
    color: $white;
    position: sticky;
    top: 0;
    z-index: 100;

    @include responsive ('Mobile') {
        height: 60px;
    }

    .menu {
        display: none;

        @include responsive ('Mobile') {
            display: block;
            @include df-jcc-aic;
            margin-right: 20px;

            i {
                font-size: 50px;
            }
        }
    }

    #menu_check:checked~ul {
        left: 0;
        transition: 0.5s;
    }

    .menu:hover {
        color: $main-color;
    }

    .logo {
        width: 300px;
        @include df-aic;
        margin-left: 70px;

        @include responsive('tablet') {
            margin-left: 40px;
        }

        @include responsive ('Mobile') {
            margin-left: 20px;
        }

        h1 {
            font-size: 30px;

            span {
                color: #DB3E34;
            }

            @include responsive ('Mobile') {
                display: none;
            }
        }
    }

    ul {
        width: 500px;
        @include df-aic;
        justify-content: space-between;
        margin-right: 70px;

        @include responsive('tablet') {
            margin-right: 40px;
            width: 400px;
        }

        @include responsive ('Mobile') {
            position: absolute;
            transition: 0.5s;
            left: -100%;
            top: 60px;
            background: $navbar-color;
            @include df-fd;
            width: 100%;
        }

        li {
            list-style-type: none;

            @include responsive ('Mobile') {
                margin: {
                    top: 30px;
                    bottom: 30px;
                }
            }

            a {
                text-decoration: none;

                font: {
                    size: 20px;
                    weight: bold;
                }

                color: $white;

            }

            a:hover {
                color: $main-color;
                border-bottom: 4px solid $main-color;
            }
        }
    }
}