@import './group-mixins';
@import './variable';


.new-album {
    height: 1200px;
    @include df-fd;

    background: {
        image: url(../image/ba9d9b45fd30477d642ebc17fe697cbfa24da2bc.jpg);
        size: cover;
        attachment: fixed;
    }

    @include responsive ('tablet') {
        height: 1000px;
    }

    @include responsive ('Mobile') {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .new {
        margin-top: 150px;
        text-align: center;

        @include responsive ('tablet') {
            margin-top: 130px;
        }

        h2 {
            color: $white;

            @include responsive ('tablet') {
                font-size: 27px;
            }
        }
    }

    .album-text {
        margin: 10px 70px;
        padding: 40px;
        text-align: center;
        color: $white;

        @include responsive ('tablet') {
            margin: 10px 40px;
            padding: 20px;
        }

        @include responsive ('Mobile') {
            margin: 30px 20px;
            padding: 0;
        }
    }

    .album {
        height: 530px;
        margin: 50px 70px;
        @include df-jcsb;

        @include responsive ('tablet') {
            height: 530px;
            margin: 50px 40px;
        }

        @include responsive ('Mobile') {
            margin: 0;
            padding: 0;
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            justify-items: center;
        }

        .album-card {
            width: 370px;
            @include df-aic;
            flex-direction: column;

            @include responsive ('tablet') {
                width: 35%;
            }

            @include responsive ('Mobile') {
                width: 90%;
                border-radius: 10px;
                margin-bottom: 50px;
                padding-bottom: 30px;
                background: rgba(22, 21, 21, 0.473);
            }

            .album-img,
            .album-img1,
            .album-img2 {
                @include album-img;

                @include responsive ('tablet') {
                    width: 220px;
                    height: 200px;
                }
            }

            .album-img {
                background-image: url(../image/X-bro.jpg);
            }

            .album-img1 {
                background-image: url(../image/suffer-band.28.jpg);
            }

            .album-img2 {
                background-image: url(../image/nevermind.jpg);

            }

            h4 {
                font: {
                    size: 25px;
                    weight: bolder;
                }

                color: $white;
                margin-top: 20px;
                text-align: center;

                @include responsive ('tablet') {
                    font-size: 18px;
                }
            }

            p {
                margin: 10px 70px;
                color: $white;
                text-align: center;

                @include responsive ('tablet') {
                    margin: 10px 50px;
                    font-size: 19px;
                }

                @include responsive ('Mobile') {
                    margin: 10px;
                }
            }

            button {
                align-self: center;
                margin-top: 20px;
                @include button;

                @include responsive ('tablet') {
                    align-self: center;
                    margin-top: 20px;
                    margin-top: 40px;
                    width: 130px;
                    height: 30px;
                    font-size: 15px;
                }

                @include responsive ('Mobile') {
                    width: 120px;
                    font-size: 16px;
                }
            }

            button:hover {
                @include button-hover;
            }
        }

    }
}