@import './group-mixins';
@import './variable';


.our-song {
    @include df-fd;
    height: auto;
    background: $our-song-bg;
    padding-bottom: 70px;

    @include responsive ('Mobile') {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .song-title {
        margin-top: 70px;
        text-align: center;

        h2 {
            color: $main-color;

            @include responsive ('tablet') {
                font-size: 27px;
            }
        }
    }

    .group-song {
        margin: 50px 150px;
        padding: 20px 70px 50px 70px;
        background: $song-color;
        @include df-fd;

        @include responsive ('tablet') {
            margin: 50px 40px;
            padding: 20px 40px 40px 40px;
        }

        @include responsive ('Mobile') {
            margin: 0;
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            row-gap: 40px;
            margin-bottom: 60px;
            background: none;
        }

        .song-card {
            margin-top: 30px;

            .box {
                @include df-aic;
                background: $card-song;

                @include responsive ('Mobile') {
                    flex-direction: column;
                    height: 400px;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 3fr 1fr;
                }

                .song-img {
                    width: 80px;
                    height: 60px;

                    @include responsive ('Mobile') {
                        width: 100%;
                        height: 100%;
                        background-image: url(../../../../image/suffer-band.webp);
                        background-size: cover;

                        img {
                            display: none;
                        }
                    }
                }

                .song {
                    width: 100%;
                    @include df-aic;

                    audio {
                        width: 100%;

                    }
                }

            }

            label {
                color: $white;
                font-size: 20px;

                @include responsive ('tablet') {
                    font-size: 18px;
                }

                @include responsive ('Mobile') {
                    display: none;
                }
            }
        }

        button {
            align-self: center;
            margin-top: 25px;
            @include button;

            @include responsive ('tablet') {
                margin-top: 40px;
                width: 130px;
                height: 30px;
                font-size: 15px;
            }
        }

        button:hover {
            @include button-hover;
        }
    }

}