
@import './group-mixins';
@import './variable';



.our-business {
    background: #B7B7B7;
    height: 470px;
    @include df-jcsb;
    .business {
        margin-top: 50px;
        width: 700px;
        margin-left: 70px;
        h2 {
            color: $main-color;
            margin-bottom: 30px;
        }
    
        .business-button {
            margin-top: 30px;
            button {
                @include button;
            }
            button:hover {
                @include button-hover;
            }
        } 
    }
    .business-image {
        display: flex;
        width: 400px;
        margin: {
            top: 50px;
            right: 70px;
        }
        .image {
            background: url(../image/photo_2023-09-24_11-29-45.jpg);
            width: 100%;
            height: 360px;
            background-size: cover;
            margin-top: 10px;
            border: 2px solid $main-color;
        }
    }
}



