


$main-color: #DB3E34;
$background-text: #0000009c;
$white: white;
$navbar-color: #181717;
$audience-bg: rgba(0, 0, 0, 0.534);
$our-song-bg: #363636;
$song-color: #414141;
$card-song: rgb(235, 235, 235);
$card-bg: #4940406c;
$form-bg: rgba(48, 47, 47, 0.514);