@import '../variable';
@import '../group-mixins';




header {
    padding: 80px 70px;
    height: 550px;
    background: {
        image: url(../image/about-bg-1.jpg);
        size: cover;
    }
    @include df-jcsb;
    color: $white;
    .header-img-about{
        display: flex;
        justify-content: end;
        width: 550px;
        height: 400px;
        img{
            width: 480px;
            position: absolute;
            margin: {
                right: 70px;
                top: 60px;
            }
        }
        .bg-img-header{
            width: 480px;
            height: 300px;
            border: 15px solid $main-color;
        }
    }
    .content-header{
        @include df-fd;
        padding: 10px;
        width: 500px;
        height: 400px;
        background-color: $audience-bg;
        border-radius: 15px;
        h1{
            font: {
                size: 55px;
                weight: bolder;
            }
            align-self:  center;
            margin-bottom: 30px;
        }
        p{
            margin: 0px 30px;
        }
    }
}
