@import '../variable';
@import '../group-mixins';







.history-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: $card-song;
    height: 350px;
    h2{
        font-size: 33px;
        color: $main-color;
        margin-top: 60px;
        font-weight: bolder;
    }
    .history{
        margin: 20px 170px;
        padding: 20px;
    }
}