@import '../variable';
@import '../group-mixins';







.history-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: $card-song;
    height: 350px;

    @include responsive ('tablet') {
        padding: 0;
        height: auto;
    }

    h2 {
        font-size: 33px;
        color: $main-color;
        margin-top: 60px;
        font-weight: bolder;

        @include responsive ('tablet') {
            font-size: 27px;
        }
    }

    .history {
        margin: 20px 170px;
        padding: 20px;

        @include responsive ('tablet') {
            margin: 20px 40px;
            padding-bottom: 60px;
        }

        @include responsive ('Mobile') {
            margin: 20px;

            p {
                font-size: 17px;
            }
        }
    }
}