@import '../variable';
@import '../group-mixins';



.team-picture {
    @include df-fd;
    background-color: #474545;
    height: 600px;

    h2 {
        margin-top: 60px;
        color: $main-color;

        font: {
            size: 33px;
            weight: bolder;
        }

        text-align: center;
    }

    .img-team {
        @include df-jcsb;
        align-items: center;
        height: 400px;
        margin: 30px 70px;

        .picture {
            width: 23%;
            height: 70%;
            border-radius: 15px;
            background-size: cover;

        }
        .picture:hover {
            box-shadow: rgba(207, 47, 47, 0.541) 0px 54px 55px, rgba(192, 29, 29, 0.377) 0px -12px 30px, rgba(199, 43, 43, 0.37) 0px 4px 6px, rgba(184, 46, 46, 0.575) 0px 12px 13px, rgba(189, 44, 44, 0.596) 0px -3px 5px;
        }

        .picture:nth-child(1) {
            background-image: url(../image/photo1.jpg);
        }

        .picture:nth-child(2) {
            background-image: url(../image/photo2.jpg);
        }

        .picture:nth-child(3) {
            background-image: url(../image/photo-3.jpg);
        }

        .picture:nth-child(4) {
            background-image: url(../image/photo4.jpg);
        }

    }
}