





.about-viewer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(165, 185, 193, 0.87);
    height: 300px;
    .view h1{
        font-weight: bolder;
        font-size: 40px;
        margin: 10px 170px;
        margin-top: 85px;
        text-align: center;
        
        p{
            text-align: center;
            font-weight: bolder;
            font-size: 33px;
        }
    }

}