@import '../variable';
@import '../group-mixins';





.about-viewer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $card-song;
    height: 300px;

    @include responsive ('tablet') {
        width: 100%;
        padding: 0;
    }

    .view h1 {
        font-weight: bolder;
        font-size: 40px;

        @include responsive ('tablet') {
            margin: 0;
            padding: 0;
        }

        p {
            text-align: center;
            font-weight: bolder;
            font-size: 33px;
        }
    }

}